<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>Proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-button [routerLink]="['/menu']">Back</ion-button>

    
    <ion-item>
      <ion-label>
        <h3>Proveedor A - Servicios Tecnológicos</h3>
        <p>Teléfono: (123) 456-7890</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <h3>Proveedor B - Soluciones Empresariales</h3>
        <p>Teléfono: (987) 654-3210</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <h3>Proveedor C - Consultoría Financiera</h3>
        <p>Teléfono: (555) 123-4567</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <h3>Proveedor D - Logística Internacional</h3>
        <p>Teléfono: (444) 234-5678</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <h3>Proveedor E - Servicios de Marketing</h3>
        <p>Teléfono: (333) 345-6789</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
