// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
	--ion-color-micolor: #afcddf;
	--ion-color-micolor-rgb: 175,205,223;
	--ion-color-micolor-contrast: #000000;
	--ion-color-micolor-contrast-rgb: 0,0,0;
	--ion-color-micolor-shade: #9ab4c4;
	--ion-color-micolor-tint: #b7d2e2;
}